# Configuration
/config/parameters.yml

# Composer
/vendor/

# Contao Manager
/contao-manager/

# Generated folders
/assets/
/files/
/public/
/system/*
!/system/config/
/system/config/tcpdf.php
/templates/
/var/
/web/
/.idea/

# Skip files
/system/modules/*/.skip
